@media screen and (max-width:666px) {
    .hero h1 {
        font-size: 9vw !important;
        color: white;
        font-weight: bold;
        padding-top: 70px;
    }

    .hero p {
        color: white;
        font-size: 9px;
        padding-top: 5px;
    }
    .amv{
        padding-left: 0 !important;
    }
}

@media screen and (max-width:780px) {
    .head-h2 {
        margin-top: 0;
        font-size: 35px;
        margin-bottom: 20px;
        line-height: 1.1em;
        font-weight: bold;
        padding-bottom: 5px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
    }
}

@media only screen and (max-width: 992px) {
    #nav-small {
        width: 100%;
        position: absolute;
        text-align: center !important;
    }
}

@media only screen and (max-width: 992px) {
    #nav-small {
        width: 100%;
        padding-right: 30px;
        position: absolute;
    }
}

#nav-small {
    margin: 0;
}

@media only screen and (max-width: 992px) {
    #nav-small {
        /* position: fixed; */
        /* height: 100%; */
        z-index: 200;
        width: 100% !important;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 100px !important;
        overflow-y: auto;
        overflow: hidden;
        top: 100px;
    }
}

#nav-small {
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    float: none;
}

@media only screen and (max-width: 992px) {
    #nav-small li {
        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
        margin: 0;
        width: 100% !important;
        /* display: block; */
    }
}

@media only screen and (max-width: 992px) {
    #nav-small li {
        border-bottom: solid 1px var(--bg-dark-3);
        margin: 0;
        width: 100% !important;
        /* display: block; */
    }
}

@media only screen and (max-width: 992px) {
    #nav-small a.nav-link {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 992px) {
    #nav-small a.nav-link {
        text-align: left;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 992px) {
    #nav-small li a {
        color: #eceff3;
    }

    .nav-item {
        border-bottom: 1px solid white !important;
        /* width: 100% !important; */
    }

    .new-c {
        visibility: hidden !important;
    }
    .form-all{
        margin-top: 20px !important;
    }
    .new-pa{
    padding: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.contact{
padding-top: 20px;
padding-bottom: 20px;    
padding: 35px 0px !important;
}
.contact-info{
    margin-bottom: 40px;
    width: 100%;
}
.contactt{
padding-top: 20px;
padding-bottom: 20px;    
padding: 35px 0px !important;
}
}

#nav-small li a:hover {
    color: rgb(224, 172, 103) !important;
    /* font-weight: bold; */
}

.new-c {
    visibility: visible;
}
.new-pa{
    padding: 50px;
}
