@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.swiper-slide span {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: bold; */
    font-style: normal;
}

.swiper-slide h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: bold; */
    font-style: normal;
}

.subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.3px;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    border-bottom: 1px solid rgba(154, 150, 150, 0.5);
    padding: 20px !important;
}

.logo img {
    width: 50px;
}

.nav-item .nav-link {
    color: #fff !important;
}

.home {
    height: 100vh;
    background-size: cover !important;
    /* position: relative; */
    overflow: hidden;
    transition: 5s;
    animation-name: change;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 animation-iteration-count: infinite;
 animation-duration: 10s;
 animation-direction: alternate-reverse;
 animation-fill-mode: forwards;
 animation-play-state: running;
 animation-timing-function: linear;

}

@media screen and (max-width:600px) {

    /* .home{
    height: 60vh !important;
        padding: 20px !important;
    } */
    .btn-main {
        visibility: hidden !important;
    }
}

@keyframes change {
    0% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.3)),
            url(images/banner-a.png);


    }

    50% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.3)),
            url(images/banner-b.png);
    }

    100% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.3)),
            url(images/banner-c.png);

    }

}


.hero {
    height: 70vh;
    width: 1920px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    /* padding-top: 125px; */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.btn-card {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #e3c27a;
    font-weight: 400 !important;
    font-size: 15px !important;
}








.home h1 {
    font-size: 96px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.home p {
    color: white;
    font-size: 15px;
    padding-top: 15px;
    font-family: "Sen", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-main {
    display: inline-block;
    font-family: var(--body-font);
    text-align: center;
    color: #fff;
    outline: 0;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 2px;
    border: 1.5px solid rgba(154, 150, 150, 0.5);
    visibility: visible;
    /* border-radius: 5px; */

}

.btn-main:hover {
    background-color: rgb(186, 163, 121);
    box-shadow: rgba(226, 199, 148, 0.957) 0px 10px 50px;
}

.head-h2 {
    margin-top: 0;
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.1em;
    font-weight: bold;
    padding-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.rounded-20 {
    border-radius: 20px;

    position: relative;
}

.head-p {
    color: #928a8a;
    font-weight: 380;
    font-size: 18px;
}

a {
    font-weight: bold;
    padding-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-decoration: none;
}

.lis-1 {
    /* font-weight: bold; */
    padding-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 20px !important;
    cursor: pointer;
}



.aman {

    background-size: cover !important;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: rgba(226, 177, 117, 0.413) 0px -90px 35px -8px inset;
    position: relative;
    background-position: center;

}

.aman-h2 {
    padding-top: 375px;
    text-align: center;
    color: white;
    /* font-size: 40px; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;




}

.aman-h3 {
    padding-top: 300px;
    color: white;
    /* font-size: 40px; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}

.po h3 {
    opacity: 1;
}

.po h3:hover {
    opacity: 0;
}

.card-new {
    transition: 0.6s;
    opacity: 0;
    height: 100%;
    position: absolute;
    padding: 30px;
}

.aman .card-new:hover {
    opacity: 1;
}

.btn-mainn {
    display: inline-block;
    font-family: var(--body-font);
    text-align: center;
    color: #fff;
    outline: 0;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 2px;
    border: 1px solid rgba(154, 150, 150, 0.5);
    border-radius: 5px;
    background-color: #e3c27a;
}

.card-new p {
    line-height: 1.8;
    color: #f2ebeb !important;
}

.new-para {
    text-align: center;
    padding: 10px 50px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    width: 50vh;
    height: 55vh;
    background-color: #fff;
}

.new-para p {
    font-size: 15px;
}

.new-border {
    border-bottom: 1px solid rgba(154, 150, 150, 0.5);
}

.navbar-color {
    background-color: black;
    border: none;

}


.new {
    background-image: url(https://i.pinimg.com/736x/18/90/ce/1890ce5a1b0ee9ea4d73cd425275e654.jpg);
}

li {
    list-style: none;
}

.head-h1 {
    display: inline-block;
    color: #fff;
    font-size: 60px;
    line-height: 1.2em;
    margin-bottom: 0;
    border-bottom: solid 1.5px #e3c27a;
}

@media screen and (max-width:992px) {
    .head-h1 {
        display: inline-block;
        color: #fff;
        font-size: 40px;
        line-height: 1.2em;
        margin-bottom: 0;
        border-bottom: solid 1.5px #e3c27a;
    }
}

.air {}


.air {
    padding-top: 10px;
    margin-bottom: -85px;
}

.air li a {
    font-size: 20px;
    color: #efe9e9;
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-decoration: none;
}

.air {
    display: block;
    padding: 3px 10px;
    margin-top: 20px;
    line-height: 1.2em;
    border-radius: 30px;

}

/* location start  */




/* location end  */

/* about css  */
.card-text h3 {
    font-weight: 700;
}

.card-text p {
    color: #565454;
    font-weight: 380;
    font-size: 18px;
}

/* about css  */


.head-form {
    color: #000;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Merriweather", serif;
}

.contact_field .form-control {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
}



.form {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.form {
    background-color: rgba(245, 245, 245, 0.2);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
}

.form {
    border-radius: 10px;
    padding: 10px 15px;
    border: 2px solid #fff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group,
.top-footer .container {
    position: relative;
}

.form {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.new-b {
    font-size: 22px;
}

.new-b {
    border: 1px solid #ff9c00;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
    color: #d79b1b;
}

.social-icons i {
    text-shadow: none;
    padding: 10px 5px;
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: 16px;
    margin: 0 3px 0 3px;
    border-radius: 50% 50% 0 0;

}

.social-icons a {
    background-color: #c08831;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    margin: 4px 0 0 10px;
}

.social-icons i:hover {
    background-color: #f2ebeb;
    color: black;
}

.hi {
    display: grid;
}

.form-btn {
    border-radius: 50px;
    border: none;
    align-items: center;
    text-align: center;
}

.btn-form p {
    font-size: 20px !important;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}


.form-start {
    text-align: center;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(127, 102, 74, 0.4);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
}

.form-all {
    text-align: center;
    color: #a28261;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 22px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(127, 102, 74, 0.4);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.form-group input,
.form-group textarea {
    border-radius: 6px !important;
}

.form-control {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.form-control {
    background-color: rgba(245, 245, 245, 0.2);
    color: var(--bd-color-common-white);
    border: none;
    border-radius: 15px;
    padding: 15px;
}

.form-control {
    border-radius: 10px;
    padding: 10px 15px;
    border: 2px solid #fff;
}


.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-a:hover {
    background-color: #a28261;
    box-shadow: 0 0 5px #a28261, 0 0 25px #a28261, 0 0 50px #a28261, 0 0 200px #a28261;
}

.btn-a {
    padding: 5px 15px;
    color: #fff;
    position: relative;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid white;
}

.vibhor {
    cursor: pointer !important;
}

.new-show {
    padding: 10px 20px;
    color: #fff;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #c21500;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc500, #c21500);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.filter-card:hover {}

.CONTENT {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: rgba(255, 255, 255, 0.797);
    transition: 0.6s;
    opacity: 0;
    color: rgb(16, 15, 15);
    border-radius: 20px;
    filter: blur(10);

}

.CONTENT:hover {
    opacity: 1;
    ;
}

.star h3 {
    color: white;
}

.star span {
    color: #ccc;
}

.CONTENT a {
    border: none;
    background: #c21500;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc500, #c21500);
    padding: 7px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
}


.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* align-content: center; */
    flex-direction: column;
    justify-items: center;
    background-size: cover !important;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    /* color: #fff; */
    background-image: linear-gradient(rgba(2, 28, 44, 0.9), rgba(2, 28, 44, 0.7)), url(images/form-back.png);
}

.contact .content {
    /* max-width: 800px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.contact .contant h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.contact .contant p {
    /* font-size: 36px; */
    font-weight: 300;
    color: #fff;
}

.contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.contact-info .box {
    position: relative;
    padding: 20px 0px;
    display: flex;
}

.box .icon {
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    font-size: 22px;
    color: #000;
    margin-right: 20px;
}

.icon .text {
    display: flex;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.box .text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contact-form {
    width: 100%;
    padding: 40px;
    background: #fff;
    color: #000;
}

.contact-form h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contact-form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .inputBox input,
.contact-form .inputBox textarea {
    padding: 5px 0px;
    width: 100%;
    font-size: 16px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}

.contact-form .inputBox input:focus~span,
.contact-form .inputBox input:valid~span,
.contact-form .inputBox textarea:focus~span,
.contact-form .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .inputBox input[type="submit"] {
    width: 100px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}

/* new  */

.contactt {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1efef;
    /* text-align: center; */
    /* align-content: center; */
    flex-direction: column;
    justify-items: center;
    /* background-size: cover !important; */
    overflow: hidden;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* color: #fff; */
    /* background-image: linear-gradient(rgba(2, 28, 44, 0.9), rgba(2, 28, 44, 0.7)), url(images/form-back.png); */
}

.contactt .content {
    /* max-width: 800px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.contactt .contant h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.contactt .contant p {
    /* font-size: 36px; */
    font-weight: 300;
    color: #fff;
}

.contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.contact-info .box {
    position: relative;
    padding: 20px 0px;
    display: flex;
}

.box .icon {
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    font-size: 22px;
    color: #000;
    margin-right: 20px;
}

.icon .text {
    display: flex;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.box .text h3 {
    font-weight: 500;
    /* background: linear-gradient(45deg, #1abc9c, #149279); */
    color: #1abc9c;
}

.contact-form {
    width: 100%;
    padding: 40px;
    background: #fff;
    color: #000;
}

.contact-form h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contact-form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .inputBox input,
.contact-form .inputBox textarea {
    padding: 5px 0px;
    width: 100%;
    font-size: 16px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    resize: none;
}

.contact-form .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}

.contact-form .inputBox input:focus~span,
.contact-form .inputBox input:valid~span,
.contact-form .inputBox textarea:focus~span,
.contact-form .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .inputBox input[type="submit"] {
    width: 100px;
    background: linear-gradient(45deg, #1abc9c, #149279);
    /* background-color: #00bcd4; */
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 50px;

}

.contact-form .inputBox input:focus,
.contact-form .inputBox textarea:focus {
    padding: 5px 0px;
    width: 100%;
    font-size: 16px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid #e91e63;
    outline: none;
    resize: none;
}

.information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}

.icon {
    width: 28px;
    margin-right: 0.7rem;
}

.social-mediaa {
    padding: 2rem 0 0 0;
}

.social-mediaa p {
    color: #333;
}

.social-iconss {
    display: flex;
    margin-top: 0.5rem;
}

.social-iconss a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #1abc9c, #149279);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-iconss a:hover {
    transform: scale(1.05);
}

.contact-form .new-box input[type="submit"] {
    width: 100px;
    background: linear-gradient(45deg, #1abc9c, #149279);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 50px;

}

.itemm {
    width: 200px;
    height: 100px;
    /* background-color: #e53232; */
    border-radius: 10px;
    position: absolute;
    animation-name: scrollleft;
    left: max(calc(200px * 8), 100%);
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-delay: -15s; */

}
.itemmm {
    width: 200px;
    height: 100px;
    /* background-color: #e53232; */
    border-radius: 10px;
    position: absolute;
    animation-name: scrollleftt;
    right: max(calc(200px * 8), 100%);
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-delay: -15s; */

}
@keyframes scrollleftt {

    to{
        right: -200px;
    }
}

.allow {
    /* border: 1px solid #000; */
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    cursor: pointer;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0)
        );

}

@keyframes scrollleft {

    to{
        left: -200px;
    }
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
.new-boy:hover{
    transform: translateX(10);
}


.homee {
   height: 100vh;
    background-size: cover !important;
    /* position: relative; */
    overflow: hidden;
    transition: 5s;
    animation-name: changee;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 animation-iteration-count: infinite;
 animation-duration: 10s;
 animation-direction: alternate-reverse;
 animation-fill-mode: forwards;
 animation-play-state: running;
 animation-timing-function: linear;

}

@media screen and (max-width:600px) {

    /* .home{
    height: 60vh !important;
        padding: 20px !important;
    } */
    .btn-main {
        visibility: hidden !important;
    }
}

@keyframes changee {
    0% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.3)),
            url(https://i.pinimg.com/1200x/03/a4/1d/03a41d170ee2a6c5770f5bbc94318e2a.jpg);


    }

    20% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.3)),
            url(https://i.pinimg.com/1200x/c6/29/58/c62958a760f5ceb843f70f2cfcb74159.jpg);
    }

    100% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.3)),
            url(https://i.pinimg.com/1200x/33/5b/55/335b553d91e2c3b1d73d755e597b5934.jpg);

    }

}



.btn-card {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #e3c27a;
    font-weight: 400 !important;
    font-size: 15px !important;
}








.homee h1 {
    font-size: 96px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.homee p {
    color: white;
    font-size: 15px;
    padding-top: 15px;
    font-family: "Sen", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



.item-new {
    border-left: 2px solid white;
}
.item-new h3{
    color: #1abc9c;
}
.bright{
    background-color: transparent;
    display: inline-block;
    border-radius: 20px;
    border: 1.5px solid #044f40;
    text-align: center;
    color: #fff;
    font-weight: 400;
  }


    .new-button{
        font-size: 1.1rem;
        padding: 0.9rem 2em;
        /* border: 2px solid; */
        color: #fff;
        border: none;
    background: linear-gradient(45deg, #1abc9c, #149279);
  border-radius: 50px;
    }
    .new-button:hover{
        transform: translateY( -5px);
        color: #fff;
    }
    .Ameneties-hover{
           width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: rgba(23, 23, 23, 0.642);
    transition: 0.6s;
    opacity: 0;
    color: rgb(246, 246, 246);
    border-radius: 20px;
    filter: blur(10);
            transform: translateX(1px);

    }
    .Ameneties-hover:hover{
        opacity: 1;
        transform: translateX(0px);
        width: 100%;
    }